site_name: Unmanned Underwater Vehicle Simulator Documentation
copyright: Copyright (c) 2016-2019 The UUV Simulator Authors
repo_url: https://github.com/uuvsimulator
site_url: https://uuvsimulator.github.io/
site_description: 'Unmanned Underwater Vehicle Simulator Documentation.'

# Customization
extra:
  social:
    - type: globe
      link: https://discourse.ros.org/c/maritime
    - type: github-alt
      link: https://github.com/uuvsimulator/
    - type: comment
      link: https://discord.gg/zNauF2F    

# Extensions
markdown_extensions:
  - codehilite
  - markdown.extensions.admonition
  - markdown.extensions.codehilite:
      guess_lang: false
  - markdown.extensions.def_list
  - markdown.extensions.footnotes
  - markdown.extensions.meta
  - markdown.extensions.toc:
      permalink: true
      baselevel: 4
  - pymdownx.arithmatex
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.emoji:
      emoji_generator: !!python/name:pymdownx.emoji.to_svg
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.magiclink:
      repo_url_shorthand: true
      user: squidfunk
      repo: mkdocs-material
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.superfences
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde

nav:
  - Home: index.md      
  - Installation: installation.md
  - Quick start: quick_start.md  
  - API: api.md  
  - UUV Simulator: 
    - Introduction: packages/uuv_simulator/intro.md
    - User Guide:
      - Configuring the thruster manager: packages/uuv_simulator/docs/tutorials/config_thruster_manager.md
      - Create new vehicle: packages/uuv_simulator/docs/tutorials/create_new_vehicle.md
      - Creating new dynamic positioning controller: packages/uuv_simulator/docs/tutorials/creating_new_dp_controller.md
      - Generating disturbances: packages/uuv_simulator/docs/tutorials/disturbances.md
      - Creating a new world with a custom seabed: packages/uuv_simulator/docs/tutorials/seabed_world.md
    - Packages:
      - uuv_assistants: packages/uuv_simulator/docs/packages/uuv_assistants.md             
      - uuv_auv_control_allocator: packages/uuv_simulator/docs/packages/uuv_auv_control_allocator.md 
      - uuv_control_cascaded_pid: packages/uuv_simulator/docs/packages/uuv_control_cascaded_pid.md
      - uuv_control_msgs: packages/uuv_simulator/docs/packages/uuv_control_msgs.md
      - uuv_control_utils: packages/uuv_simulator/docs/packages/uuv_control_utils.md
      - uuv_descriptions: packages/uuv_simulator/docs/packages/uuv_descriptions.md
      - uuv_gazebo_plugins: packages/uuv_simulator/docs/packages/uuv_gazebo_plugins.md
      - uuv_gazebo: packages/uuv_simulator/docs/packages/uuv_gazebo.md
      - uuv_gazebo_ros_plugins: packages/uuv_simulator/docs/packages/uuv_gazebo_ros_plugins.md
      - uuv_gazebo_ros_plugins_msgs: packages/uuv_simulator/docs/packages/uuv_gazebo_ros_plugins_msgs.md
      - uuv_gazebo_worlds: packages/uuv_simulator/docs/packages/uuv_gazebo_worlds.md
      - uuv_sensor_ros_plugins: packages/uuv_simulator/docs/packages/uuv_sensor_ros_plugins.md
      - uuv_sensor_ros_plugins_msgs: packages/uuv_simulator/docs/packages/uuv_sensor_ros_plugins_msgs.md
      - uuv_teleop: packages/uuv_simulator/docs/packages/uuv_teleop.md
      - uuv_thruster_manager: packages/uuv_simulator/docs/packages/uuv_thruster_manager.md
      - uuv_trajectory_control: packages/uuv_simulator/docs/packages/uuv_trajectory_control.md
      - uuv_world_plugins: packages/uuv_simulator/docs/packages/uuv_world_plugins.md
      - uuv_world_ros_plugins: packages/uuv_simulator/docs/packages/uuv_world_ros_plugins.md
      - uuv_world_ros_plugins_msgs: packages/uuv_simulator/docs/packages/uuv_world_ros_plugins_msgs.md
    - C++ API:
      - uuv_gazebo_plugins: 
        - BuoyantObject: packages/uuv_simulator/docs/api/gazebo::BuoyantObject.md       
        - Dynamics:
          - Dynamics: packages/uuv_simulator/docs/api/gazebo::Dynamics.md       
          - DynamicsFactory: packages/uuv_simulator/docs/api/gazebo::DynamicsFactory.md
          - DynamicsFirstOrder: packages/uuv_simulator/docs/api/gazebo::DynamicsFirstOrder.md
          - DynamicsZeroOrder: packages/uuv_simulator/docs/api/gazebo::DynamicsZeroOrder.md
          - ThrusterDynamicsBessa: packages/uuv_simulator/docs/api/gazebo::ThrusterDynamicsBessa.md
          - ThrusterDynamicsYoerger: packages/uuv_simulator/docs/api/gazebo::ThrusterDynamicsYoerger.md
        - FinPlugin: packages/uuv_simulator/docs/api/gazebo::FinPlugin.md
        - HydrodynamicModel:
          - HydrodynamicModel: packages/uuv_simulator/docs/api/gazebo::HydrodynamicModel.md
          - HydrodynamicModelFactory: packages/uuv_simulator/docs/api/gazebo::HydrodynamicModelFactory.md
          - HMBox: packages/uuv_simulator/docs/api/gazebo::HMBox.md
          - HMCylinder: packages/uuv_simulator/docs/api/gazebo::HMCylinder.md
          - HMFossen: packages/uuv_simulator/docs/api/gazebo::HMFossen.md
          - HMSphere: packages/uuv_simulator/docs/api/gazebo::HMSphere.md
          - HMSpheroid: packages/uuv_simulator/docs/api/gazebo::HMSpheroid.md
        - LiftDragModel:
          - LiftDrag: packages/uuv_simulator/docs/api/gazebo::LiftDrag.md
          - LiftDragFactory: packages/uuv_simulator/docs/api/gazebo::LiftDragFactory.md
          - LiftDragQuadratic: packages/uuv_simulator/docs/api/gazebo::LiftDragQuadratic.md
          - LiftDragTwoLines: packages/uuv_simulator/docs/api/gazebo::LiftDragTwoLines.md
        - ThrusterConversionFcn:
          - ConversionFunction: packages/uuv_simulator/docs/api/gazebo::ConversionFunction.md
          - ConversionFunctionFactory: packages/uuv_simulator/docs/api/gazebo::ConversionFunctionFactory.md
          - ConversionFunctionBasic: packages/uuv_simulator/docs/api/gazebo::ConversionFunctionBasic.md
          - ConversionFunctionBessa: packages/uuv_simulator/docs/api/gazebo::ConversionFunctionBessa.md
          - ConversionFunctionLinearInterp: packages/uuv_simulator/docs/api/gazebo::ConversionFunctionLinearInterp.md
        - ThrusterPlugin: packages/uuv_simulator/docs/api/gazebo::ThrusterPlugin.md
        - UnderwaterObjectPlugin: packages/uuv_simulator/docs/api/gazebo::UnderwaterObjectPlugin.md
      - uuv_gazebo_ros_plugins: 
        - AccelerationsTestPlugin: packages/uuv_simulator/docs/api/gazebo::AccelerationsTestPlugin.md
        - CustomBatteryConsumerROSPlugin: packages/uuv_simulator/docs/api/gazebo::CustomBatteryConsumerROSPlugin.md
        - FinROSPlugin: packages/uuv_simulator/docs/api/uuv_simulator_ros::FinROSPlugin.md
        - JointStatePublisher: packages/uuv_simulator/docs/api/uuv_simulator_ros::JointStatePublisher.md
        - LinearBatteryROSPlugin: packages/uuv_simulator/docs/api/gazebo::LinearBatteryROSPlugin.md
        - ThrusterROSPlugin: packages/uuv_simulator/docs/api/uuv_simulator_ros::ThrusterROSPlugin.md
        - UnderwaterObjectROSPlugin: packages/uuv_simulator/docs/api/uuv_simulator_ros::UnderwaterObjectROSPlugin.md
      - uuv_sensor_ros_plugins:
        - ROSBasePlugin: packages/uuv_simulator/docs/api/gazebo::ROSBasePlugin.md
        - ROSBaseModelPlugin: packages/uuv_simulator/docs/api/gazebo::ROSBaseModelPlugin.md
        - ROSBaseSensorPlugin: packages/uuv_simulator/docs/api/gazebo::ROSBaseSensorPlugin.md
        - CPCROSPlugin: packages/uuv_simulator/docs/api/gazebo::CPCROSPlugin.md
        - DVLROSPlugin: packages/uuv_simulator/docs/api/gazebo::DVLROSPlugin.md
        - GazeboRosImageSonar: packages/uuv_simulator/docs/api/gazebo::GazeboRosImageSonar.md
        - GPSROSPlugin: packages/uuv_simulator/docs/api/gazebo::GPSROSPlugin.md
        - IMUROSPlugin: 
          - IMUParameters: packages/uuv_simulator/docs/api/gazebo::IMUParameters.md
          - IMUROSPlugin: packages/uuv_simulator/docs/api/gazebo::IMUROSPlugin.md
        - MagnetometerROSPlugin: 
          - MagnetometerParameters: packages/uuv_simulator/docs/api/gazebo::MagnetometerParameters.md
          - MagnetometerROSPlugin: packages/uuv_simulator/docs/api/gazebo::MagnetometerROSPlugin.md
        - PoseGTROSPlugin: packages/uuv_simulator/docs/api/gazebo::PoseGTROSPlugin.md        
        - RPTROSPlugin: packages/uuv_simulator/docs/api/gazebo::RPTROSPlugin.md        
        - SubseaPressureROSPlugin: packages/uuv_simulator/docs/api/gazebo::SubseaPressureROSPlugin.md        
        - UnderwaterCameraROSPlugin: packages/uuv_simulator/docs/api/gazebo::UnderwaterCameraROSPlugin.md         
      - uuv_world_plugins: 
        - GaussMarkovProcess: packages/uuv_simulator/docs/api/gazebo::GaussMarkovProcess.md         
        - UnderwaterCurrentPlugin: packages/uuv_simulator/docs/api/gazebo::UnderwaterCurrentPlugin.md         
      - uuv_world_ros_plugins: 
        - SphericalCoordinatesROSInterfacePlugin: packages/uuv_simulator/docs/api/gazebo::SphericalCoordinatesROSInterfacePlugin.md         
        - UnderwaterCurrentROSPlugin: packages/uuv_simulator/docs/api/uuv_simulator_ros::UnderwaterCurrentROSPlugin.md
    - Python API:
      - uuv_auv_control_allocator:
        - uuv_auv_actuator_interface: packages/uuv_simulator/docs/python_api/uuv_auv_actuator_interface.md
      - uuv_control_cascaded_pids:
        - PID: packages/uuv_simulator/docs/python_api/PID.md
      - uuv_thruster_manager:
        - uuv_thrusters: packages/uuv_simulator/docs/python_api/uuv_thrusters.md
      - uuv_trajectory_control:
        - uuv_control_interfaces: packages/uuv_simulator/docs/python_api/uuv_control_interfaces.md
        - uuv_trajectory_generator: packages/uuv_simulator/docs/python_api/uuv_trajectory_generator.md
        - uuv_waypoints: packages/uuv_simulator/docs/python_api/uuv_waypoints.md
  - Plume Simulator: 
    - Introduction: packages/uuv_plume_simulator/intro.md
    - User Guide:
      - Introduction: packages/uuv_plume_simulator/docs/user_guide/introduction.md
      - How to start a turbulent passive plume: packages/uuv_plume_simulator/docs/user_guide/how_to_start_a_turbulent_plume.md
      - Add CPC sensor model to simulated vehicle: packages/uuv_plume_simulator/docs/user_guide/add_cpc_sensor_to_model.md
    - Packages:
      - uuv_plume_simulator: packages/uuv_plume_simulator/docs/packages/uuv_plume_simulator.md
      - uuv_cpc_sensor: packages/uuv_plume_simulator/docs/packages/uuv_cpc_sensor.md
      - uuv_plume_msgs: packages/uuv_plume_simulator/docs/packages/uuv_plume_msgs.md
    - C++ API:
      - CPCSensor: packages/uuv_plume_simulator/docs/api/uuv_plume_simulator::CPCSensor.md
    - Python API:
      - uuv_plume_simulator:
        - uuv_gm_process: packages/uuv_plume_simulator/docs/python_api/uuv_gm_process.md      
        - uuv_plume_model: packages/uuv_plume_simulator/docs/python_api/uuv_plume_model.md      
  - RexROV 2: 
    - Introduction: packages/rexrov2/intro.md
    - Packages:
        - rexrov2_control: packages/rexrov2/docs/packages/rexrov2_control.md
        - rexrov2_description: packages/rexrov2/docs/packages/rexrov2_description.md
        - rexrov2_gazebo: packages/rexrov2/docs/packages/rexrov2_gazebo.md
  - ECA A9: 
    - Introduction: packages/eca_a9/intro.md 
    - Packages:
        - eca_a9_control: packages/eca_a9/docs/packages/eca_a9_control.md
        - eca_a9_description: packages/eca_a9/docs/packages/eca_a9_description.md
        - eca_a9_gazebo: packages/eca_a9/docs/packages/eca_a9_gazebo.md
  - LAUV: 
    - Introduction: packages/lauv_gazebo/intro.md
    - Packages:
      - lauv_control: packages/lauv_gazebo/docs/packages/lauv_control.md
      - lauv_description: packages/lauv_gazebo/docs/packages/lauv_description.md
      - lauv_gazebo: packages/lauv_gazebo/docs/packages/lauv_gazebo.md
  - Desistek SAGA ROV: 
    - Introduction: packages/desistek_saga/intro.md
    - Packages:
      - desistek_saga_control: packages/desistek_saga/docs/packages/desistek_saga_control.md
      - desistek_saga_description: packages/desistek_saga/docs/packages/desistek_saga_description.md
      - desistek_saga_gazebo: packages/desistek_saga/docs/packages/desistek_saga_gazebo.md
  #- Tutorials:            
  #  - Using the simulation wrapper: tutorials/simulation_wrapper.md 
  - FAQ: faq.md
  - Useful bibliography and other sources: bibliography.md
  - About:
    - License: about/license.md

theme:
  name: 'material'
  feature:
    tabs: true

plugins:
  - search
  - awesome-pages

extra_javascript:
  - 'https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-MML-AM_CHTML'